.section {
    margin: 10px 0;
    background-color: white;
}

.section__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    margin: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.buttons {
    display: flex;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
}

.button__itemRow {
    display: flex;
}

.button {
    color: rgb(12, 117, 117);
    border: none;
    background: none;
}

.button:hover {
    cursor: pointer;
    color: rgb(16, 153, 153);
}

.button:disabled {
    color: #666666;
}

@media (max-width: 768px) {
    .section__header {
        flex-direction: column;
    }

    .section__buttons {
        justify-content: center;
        flex-direction: column;
    }

    .button__itemRow {
        margin-top: 20px;
    }

    .button {
        align-self: center;
        flex-basis: 100%;
    }
}

.form__input {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    padding: 20px;
}

.input__task {
    width: 100%;
    margin: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.25);
    padding: 6px;

}

.input__taskButton {
    cursor: pointer;
    margin: 0 10px;
    width: 200px;
    padding: 6px;
    border: none;
    background-color: rgb(12, 117, 117);
    color: white;
    transition: 0.5s;
}

.input__taskButton:hover {
    background-color: rgb(16, 153, 153);
    transform: scale(1.1);
}

.input__taskButton:active {
    background-color: rgb(16, 153, 153);
    transform: translateY(2px);
}

.list__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 20px;
    list-style: none;
}


.list__itemRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}

.list__itemRow--hidden {
    display: none;
}

.list__itemContent {
    width: 100%;
    margin: 10px;
}

.list__itemContent--done {
    text-decoration: line-through;
}

.list__button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
    transition: 0.5s;
}

.list__button:hover {
    background-color: rgba(11, 138, 11, 0.8);
}

.list__button:active {
    background-color: rgba(11, 138, 11, 0.8);
    transform: translateY(2px);
}

.list__button--remove {
    background-color: red;
    transition: 0.5s;
}

.list__button--remove:hover {
    background-color: rgba(211, 12, 12, 0.752);
}

.list__button--remove:active {
    background-color: rgba(211, 12, 12, 0.752);
    transform: translateY(2px);
}

@media (max-width: 768px) {
    .list__button {
        border: none;
        background-color: green;
        color: white;
    }

    .list__button:hover {
        background-color: rgba(11, 138, 11, 0.8);
    }

    .list__button:active {
        background-color: rgba(11, 138, 11, 0.8);
        transform: translateY(2px);
    }

    .list__button--remove {
        background-color: red;
        transition: 0.5s;
    }

    .list__button--remove:hover {
        background-color: rgba(211, 12, 12, 0.752);
    }

    .list__button--remove:active {
        background-color: rgba(211, 12, 12, 0.752);
        transform: translateY(2px);
    }
}

@media (max-width: 768px) {
    .form__input {
        flex-wrap: wrap;
    }

    .input__task {
        margin-bottom: 20px;
        flex-basis: 100%;
    }

    .input__taskButton {
        flex-basis: 100%;
    }
}