html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    line-height: 1.15;
    word-break: break-word;
    font-family: 'Lato', sans-serif;
    background-color: rgba(128, 128, 128, 0.25);
}